<ion-view view-title="Yummy Cakes">
  <ion-content>
      <notifications-bar class="notifications"></notifications-bar>
      <div class="bar bar-header bar-calm">
          <h1 class="title">Yummy Cakes</h1>
      </div>
      <div class="bar bar-subheader">
          <a class="button button-small button-icon icon ion-ios-plus-empty" ng-click="addCake()"> add your favorite cake</a>
      </div>          
          <ion-list class="list has-subheader">
              <ion-item ng-repeat="cake in cakes">
                  <a class="item item-thumbnail-left" href="#" ng-click="viewDetails(cake.id)">
                      <img alt="{{cake.name}}" src="{{cake.imageUrl}}" />
                      <h3>{{cake.name}}</h3>
                      <rating ng-model="cake.yumFactor" max="5" readonly="true"></rating>
                  </a>
              </ion-item>
          </ion-list>
  </ion-content>
</ion-view>